@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap');

h1 {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: 0.422159px;
    text-transform: uppercase;
}

h3 {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 30.127px;
    line-height: 0px;
    letter-spacing: 0.275265px;
    text-transform: uppercase;
}

h4 {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 0px;
    letter-spacing: 0.271838px;
}

h5 {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.22px;
    text-transform: uppercase;
}

h6 {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.317046px;
    text-transform: uppercase;
}

p {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.05px;
}


body {
    margin: 0;
    background-color: #FFFFFF; 
    display: flex;
    flex-flow: column nowrap;
}

/* HEADER 
===============================================
*/

.header-wrapper {
    background-color: #F6F2F2;
}

header {
    display: flex;
    justify-content: center;

    max-width: 1249px;
    margin: 0 auto;
    background-color: #000000;
    opacity: 0.8;
}

.menu > ul {
    display: flex;
    list-style: none;
    margin: 0 65px 0 0;
    padding: 0;
}

.menu a {
    width: 90px;
    height: 79px;
    margin: 0 13px;
    padding: 10px 15px 0 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #E0E0E0;
    text-decoration: none;
    text-transform: uppercase;

    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.49px;
}

.menu a:hover {
    background-color: #FF3F40;
}

main {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 107px;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .menu a {
        width: 85px;
        padding: 10px 0 0 0;
        margin: 0 1px;
    }

    .menu > ul {
        margin: 0; 
    }
}

/* FIRST BLOCK 
===============================================
*/

.intro-wrapper {
    background-color: #F6F2F2;
}

.intro {
    display: flex;
    justify-content: space-between;

    max-width: 1249px;
    margin: 90px auto 110px auto;
}

.intro-left-block {
    max-width: 540px;
    margin-right: 50px;
}

.intro p {
    margin-top: 18px;
    margin-bottom: 56px;
}

.button-link {
    display: block;
    text-decoration: none;
    text-align: center;
    height: 55px;
    width: 225px;
    background: #FF2D2D;
    line-height: 3em;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.3195px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}

.intro-video-wrapper {
    max-width: 555px;  
    padding-top: 12px;  
}

@media screen and (max-width: 1100px) {
    .intro {
        flex-wrap: wrap;
        align-items: center;
        max-width: 540px; 
    }
}

@media screen and (max-width: 570px) {
    .intro-left-block {
        max-width: 350px;
    }

    .intro-left-block h1 {
        font-size: 38px;
        letter-spacing: 0.5px;
    }

    .intro-video-wrapper {
        max-width: 350px;   
    }  

    /*узнать как уменьшать картинку*/
}

/* SECOND BLOCK 
===============================================
*/

.services {
    display: flex;
    justify-content: center;

    max-width: 1249px;
    margin: 95px auto 40px auto;
}


.left-block {
    max-width: 539px;
}

.left-block > p {
    margin-top: 32px;
    margin-bottom: 57px;
}

.left-block > .button-link {
    width: 222px;
    height: 52px;
    line-height: 2.85em;
    background: rgba(0, 0, 0, 0.0001);
    color: #FF2D2D;
    border: 2px solid #FF0000;
}

.right-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0 0 52px;
    max-width: 693px;
}

.right-block div {
    width: 45%;
    padding-bottom: 27px; 
}

.right-block h4 {
    padding-top: 39px;
    padding-bottom: 5px;
}

section + hr {
    margin: 0 auto;
    width: 1251px;
    border: 0;
    height: 2px;
    background: #ECECEC;
}

@media screen and (max-width: 850px) {
    .services {
        flex-wrap: wrap;
        align-items: center;
        max-width: 540px; 
    }

    .right-block {
        margin: 40px 0 0 0;
    }
}

@media screen and (max-width: 440px) {
    .right-block div {
        width: 100%;
    }
}

/* THIRD BLOCK 
===============================================
*/

.features {
    display: flex;
    flex-flow: column nowrap;

    max-width: 1249px;
    margin: 0 auto 137px auto;
}

.feature-header {
    max-width: 550px;
    margin: 95px auto 0 auto;
    padding-left: 27px;
    text-align: center;
}

.feature-header > p {
    margin-top: 12px;
}

.feature-header > hr {
    margin: 30px auto 68px auto;
    border: 0;
    width: 134px;
    height: 2px;
    background: #FF2D2D;
    margin-top: 33px;
    margin-bottom: 85px; 
}

.feature-menu {
    margin: 0 0 50px 58px;
}

.feature-menu > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.feature-menu li {
    padding: 0 28px;
}

.feature-menu a {
    text-decoration: none;
    color: #000000;
}
    
.feature-menu a:hover {
    color: #FF2D2D;
}

.feature-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-body img {
    flex: 1 1 300px;
    padding-bottom: 19px;
    padding-right: 10px;
}

@media screen and (max-width: 1030px) {
    .feature-menu {
        margin: 0 0 50px 0;
    }

    .feature-menu h5 {    
        font-size: 14px;
    }
}

@media screen and (max-width: 740px) {
    .feature-menu li {
        padding: 0 10px;
    }

    .feature-header {
        max-width: 350px;
        padding-left: 0;
    }

    .feature-menu h5 {    
        font-size: 12px;
    }
}

/* FOURTH BLOCK 
===============================================
*/

.team {
    display: flex;
    flex-flow: column nowrap;

    max-width: 1249px;
    margin: 110px auto 137px auto;
}

.team-header {
    max-width: 450px;
    margin: 0 0 6px 0;
}

.team-header > hr {
    margin: 33px 0 67px 0;
    border: 0;
    width: 134px;
    height: 2px;
    background: #FF2D2D;
}

.team-photo {
    display: flex;
    justify-content: space-between;
    max-width: 1249px;
    margin: 0 auto;
}

.team-photo > a {
    max-width: 320px;
}

.team-waugh {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-top: 25px;
    padding-left: 73px;
    max-width: 856px;
}

.team-waugh-header {
    max-width: 662px;
    margin: 0;
}

.team-waugh-header p {
    padding-top: 20px;
}

.team-waugh-social > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 30px 0 30px 0;
}

.team-waugh-social a {
    padding: 0 15px;
    text-decoration: none;
    font-style: italic;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.9px;
}

.team-waugh-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo-wrapper {
    position: relative;
    margin: 0 7px;
}

.photo-name {
    position: absolute;
    left: 0;
    bottom: 4px;
    right: 0;
    top: 178px;
    background-color: #000000;
    opacity: 0.5;
    display: none;
}

.photo-name p {
    margin-left: 50px; 
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18.0762px;
    line-height: 0px;
    letter-spacing: 0.165159px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.photo-wrapper:hover .photo-name{
    display:block;
}

@media screen and (max-width: 840px) {
    .team {
        justify-content: center;
    }

    .team-header {
        max-width: 350px;
        margin: 0 auto;
        text-align: center;
    }

    .team-header > hr {
        margin: 33px auto 67px auto; 
    }

    .team-photo {
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-waugh {
        padding-left: 0;
    }

    .team-waugh-header {
        margin: 0 auto;
    }

    .team-waugh-social a {
        padding: 0 5px;
    }
    
    .team-waugh-photo {
        margin: 0 auto;
    }
}

/* FIFTH BLOCK 
===============================================
*/

.search-wrapper {
    background-color: #2C2C2C;
}

.search {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    max-width: 1249px;
    margin: 0 auto;
}

.search-header {
    margin: 104px auto 20px auto;
    text-align: center;
}

.search-header h2 {
    color: #FFFFFF;
    text-transform: none;
    font-size: 39px;
    padding-top: 42px; 
    letter-spacing: 2.5px;
}

.search-header p {
    color: #FFFFFF;
    text-transform: none;
    margin-top: 10px; 
    margin-bottom: 35px; 
}

.search-input {
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
}

.search-input input {
    width: 480px;
    margin-right: 19px;
    border-radius: 5px;
    padding-left: 38px;
    border: none;
}

.search-input input::placeholder {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2C2C2C;
}

.search-input > .button-link {
    height: 82px;
    padding-left: 8px;
    line-height: 4.3em;
    text-transform: uppercase;
}

@media screen and (max-width: 610px) {
    .search-header h2 {
        font-size: 18px;
        letter-spacing: 2.5px;
    }
}

/* SIXTH BLOCK 
===============================================
*/

.communication {
    display: flex;
    flex-flow: column nowrap;
    margin: 92px auto 0 auto;
}

.communication-header {
    max-width: 753px;
    margin: 0;
}

.communication-header p {
    margin-top: 30px;
    margin-bottom: 54px; 
}

.communication-header > hr {
    margin: 33px 0 73px 0;
    border: 0;
    width: 134px;
    height: 2px;
    background: #FF2D2D;
}

.communication-main {
    display: flex;
    justify-content: space-between;
    position: relative;

    max-width: 1249px;
    margin: 0 auto; 
}

.name-mail {
    margin-bottom: 43px; 
    display: flex;
    justify-content: space-between;
}

.name-mail input {
    width: 292px;
    height: 65px;
    border-radius: 5px;
    padding-left: 50px;
    background-color: #e5e5e5;
    border: none;
}

.communication-main input::placeholder {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.communication-input {
    margin-right: 104px;
}

.communication-input > textarea {
    width: 684px;
    height: 252px;
    border-radius: 5px;
    padding-left: 50px;
    background-color: #e5e5e5;
    border: none;
    margin-bottom: 43px;
}

.communication-input > textarea::placeholder {
    transform: translateY(10px);
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.communication-main .button-link {
    width: 734px;
    height: 75px;
    line-height: 4.3em;
    text-transform: uppercase;
}

aside {
    width: 580px;
    height: 485px;
    background-color: #2D2D2D;
    color: #FFFFFF;
}

.aside-text {
    padding: 135px 0 0 81px; 
}

.aside-text p {
    margin-top: 21px;
}

aside::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 100vw;
    height: 485px;
    background-color: #2D2D2D;
}

@media screen and (max-width: 1225px) {
    .communication-main {
        flex-wrap: wrap;
        justify-content: center;
    }

    .communication-input {
        margin: 0 0 20px 0;
    }

    .communication-header {
        max-width: 740px;
        margin: 0 auto;
        text-align: center;
    }

    .communication-header > hr {
        margin: 33px auto 73px auto; 
    }
}

@media screen and (max-width: 700px) {
    .communication-header {
        max-width: 350px;
    }
    
    .communication-input {
        max-width: 350px;
        margin: 0 auto 20px auto;
    }

    .name-mail {
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0; 
    }

    .name-mail input {
        width: 350px;
        height: 65px;
        margin-bottom: 20px; 
    }

    .communication-input > input {
        width: 300px;
    }

    .communication-main .button-link {
        width: 350px;
    }

    aside {
        width: 350px;
        height: 292px;
    }

    .aside-text {
        padding: 35px 0 0 31px; 
    }

    aside::after {
        display: none;
    }
}

/* FOOTER
===============================================
*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #313030;
    height: 113px;
}

footer > p {
    color: #B8B8B8;
    padding: 15px 0 0 100px;
}

footer > nav {
    padding: 15px 100px 0 0;
}

.social-links a {
    margin-left: 13px;
}

@media screen and (max-width: 770px) {
    footer > p {
        padding: 15px 0 0 20px;
    }

    footer > nav {
        padding: 15px 20px 0 0;
    }
}